In [361]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime
#pd.options.mode.chained_assignment = None  # default='warn'

In [362]:
# Create connection to SQL and an engine for SQLalchemy
connection = sqlite3.connect('data\Portfolio.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\Portfolio.db').connect()

In [363]:
df = pd.read_sql_table('PortfolioData', engine, index_col=1)

In [364]:
df.head()

        date  btc  cash  gold  silver  spy  total
0 2022-03-17    0     0   500       0    0      0

In [365]:
def selectAsset():
    assets = ['btc','cash','gold','silver','spy']
    while True:
        asset = input('Please select an asset from {}: '.format(assets))
        if asset == "gold" or asset == "silver" or asset == "btc" or asset == "spy" or asset == "cash":
            break
        else:
            print("That is not a valid asset, please try again")
    return asset

In [366]:
def assetValue(asset):
    while True:
        quantity = input('Please enter ammount of {} currently held in $: '.format(asset))
        if quantity.isnumeric():
            break
        else:
            print("That is not a valid ammount")
    return quantity

In [367]:
def updateDf(df,asset,quantity):
    new_row = df.iloc[-1]
    print(new_row.head())
    new_row['date'] = datetime.today().date()
    new_row[asset] = quantity
    print(new_row.head())
    # Append the main dataframe with the new row
    df = df.append(new_row, ignore_index=True)
    # Sort values by date
    df.sort_values('date', inplace=True)
    # Merge the data for duplicate dates
    df = df.groupby(['date'], as_index=False).max()
    return df

In [368]:
df.head()

        date  btc  cash  gold  silver  spy  total
0 2022-03-17    0     0   500       0    0      0

In [369]:
df = updateDf(df,'gold',1000)

date      2022-03-17 00:00:00
btc                         0
cash                        0
gold                      500
silver                      0
Name: 0, dtype: object
date      2022-03-22
btc                0
cash               0
gold            1000
silver             0
Name: 0, dtype: object

In [370]:
df.head()

        date  btc  cash  gold  silver  spy  total
0 2022-03-17    0     0   500       0    0      0
1 2022-03-22    0     0  1000       0    0      0

In [371]:
df = df.append(new_row, ignore_index = True)

In [372]:
df

                  date  btc  cash  gold  silver  spy  total
0  2022-03-17 00:00:00    0     0   500       0    0      0
1  2022-03-22 00:00:00    0     0  1000       0    0      0
2           2022-03-22    0     0  1000       0    0      0