In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime
#pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
# Create connection to SQL and an engine for SQLalchemy
connection = sqlite3.connect('data\Portfolio.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\Portfolio.db').connect()

In [5]:
HoldingsDf = pd.read_sql_table('AssetHoldings', engine, index_col=1)
ValuesDf = pd.read_sql_table('AssetValues', engine, index_col=1)

In [9]:
HoldingsDf.head()

        date   btc_qty  cash_$  gold_g  silver_oz  spy_qty
0 2022-04-06  0.006554  1097.0     5.0        7.0     20.0
1 2022-04-10  0.006554  1097.0     5.0        7.0     20.0

In [8]:
HoldingsDf.head()

        date   btc_qty  cash_$  gold_g  silver_oz  spy_qty
0 2022-04-06  0.006554  1097.0     5.0        7.0     20.0
1 2022-04-10  0.006554  1097.0     5.0        7.0     20.0