In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime
global assets
assetNames = ['btc','cash','gold','silver','spy']
assetUnits = ['btc_qty','cash_$','gold_g','silver_oz','spy_qty']

In [2]:
connection = sqlite3.connect('data\Portfolio.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\Portfolio.db').connect()

In [7]:
today = pd.to_datetime(datetime.today().date())

In [8]:
AssetHoldings = pd.read_sql_table('AssetHoldings',engine,index_col='date')
AssetValues = pd.read_sql_table('AssetValues', engine, index_col='date')

In [9]:
AssetHoldings

             btc_qty  cash_$  gold_g  silver_oz  spy_qty
date
2022-04-06  0.006554  1097.0     5.0        7.0     20.0
2022-04-10  0.006554  1097.0     5.0        7.0     20.0

In [10]:
AssetValues

            btc  cash  gold  silver  spy  total
date
2022-04-05  1.0   1.0   1.0     1.0  1.0    5.0

In [11]:
CurrentValues = {'btc':44085.81,'cash':1,'gold':62.28,'silver':24.67,'spy':43.42}

In [22]:
AssetHoldings.at[today,assetUnits[0]]

0.006554

In [33]:
print(AssetHoldings.tail(1))

             btc_qty  cash_$  gold_g  silver_oz  spy_qty
date
2022-04-10  0.006554  1097.0     5.0        7.0     20.0

In [23]:
for i in range(len(assetUnits)):
    AssetValues.at[today,assetNames[i]] = CurrentValues[assetNames[i]] * AssetHoldings.at[today,assetUnits[i]]
AssetValues['total'] = AssetValues.sum(axis=1)

In [13]:
AssetValues.at[today] = AssetHoldings.iloc[-1]

In [24]:
AssetValues

                   btc    cash   gold  silver    spy        total
date
2022-04-05    1.000000     1.0    1.0    1.00    1.0    15.000000
2022-04-10  288.938399  1097.0  311.4  172.69  868.4  2738.428399

In [16]:
AssetHoldings.iloc[today,assets[i]]

NameError: name 'assets' is not defined

In [18]:
CurrentValues[assetNames[0]]

44085.81

In [ ]:
    DateTimeRange = pd.to_datetime(DataRange['date'])
    DataRange = DataRange.drop('date',axis=1)
    CatTotal = DataRange.sum()
    RangeTotal = CatTotal.sum()
    CatPercent = (CatTotal / RangeTotal * 100)
    DateStart = datetime.strftime(DateTimeRange.iloc[0].date(),"%m-%d-%y")
    DateEnd = datetime.strftime(DateTimeRange.iloc[-1].date(),"%m-%d-%y")

    # Create the pie chart and set the settings
    labels = 'Programming', 'Gaming', 'Electronics', 'Design'
    fig1, ax1 = plt.subplots()
    fig1.set_size_inches(10.5, 10.5)

    ax1.pie(CatPercent, labels=labels, autopct='%1.1f%%', shadow=True, startangle=90)
    ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

    plt.title(label="Percent Time per Category from {} to {}".format(DateStart,DateEnd), fontsize=18, loc="left")
    my_path = os.path.abspath(__file__)
    plt.savefig(os.path.join(my_path, '..\Charts\PieChart_S{}_E{}.png'.format(DateStart,DateEnd)))
    plt.show()