In [19]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime

In [20]:
connection = sqlite3.connect('data\AssetValues.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\AssetValues.db').connect()

df = pd.read_sql_table('AssetValues', engine, index_col='date')

today = datetime.today().date()

global assets
assets = ['btc','cash','gold','silver','spy']

In [3]:
def getNewRow(assets):
    today = datetime.today().date()
    new_row = pd.DataFrame(index=[today])
    confirm = False
    while not confirm:
        for i in range(len(assets)):
            new_row[assets[i]] = input("Please enter a value for {}: ".format(assets[i]))
        print(new_row.head())
        response = input("Does this look correct? (Y/N): ")
        if response == "Y":
            confirm = True
        elif response == "N":
            confirm = False
        else:
            print("That is not a valid response")
    return new_row

In [36]:
def updateAssets(AssetValue):
    today = datetime.today().date()
    new_row = getNewRow(assets)
    new_row['total'] = new_row.sum(axis=1)
    AssetValue.iloc[today] = new_row
    return AssetValue
    #AssetValue.to_sql('AssetValues', engine, if_exists='replace', index=True, index_label="date")

In [39]:
today = datetime.today().date()
new_row = pd.DataFrame(index=[today])
df = new_row

In [41]:
if(today in df.index):
    print("This is the truth")
else:
    print("This is bourgeois propaganda")

This is the truth

In [35]:
today = datetime.today().date()
new_row = pd.DataFrame(index=[today])

In [57]:
new_row[assets] = 1
new_row['total'] = new_row.sum(axis=1)

In [58]:
print(new_row)

            btc  cash  gold  silver  spy  total
2022-04-03    1     1     1       1    1    5.0

In [59]:
df.iloc[today] = new_row

In [49]:
df = new_row

In [60]:
new_row

            btc  cash  gold  silver  spy  total
2022-04-03    1     1     1       1    1    5.0

In [81]:
df.set_index('index', inplace=True, drop=True)

In [1]:
df

NameError: name 'df' is not defined