In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime
global assets
assets = ['btc','cash','gold','silver','spy']

In [16]:
today = datetime.today().date()
new_row = pd.DataFrame(index=[today])

In [17]:
connection = sqlite3.connect('data\AssetValues.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\AssetValues.db').connect()

df = pd.read_sql_table('AssetValues', engine, index_col='date')

today = datetime.today().date()

global assets
assets = ['btc','cash','gold','silver','spy']

In [18]:
new_row[assets] = 0

In [19]:
new_row

            btc  cash  gold  silver  spy
2022-04-06    0     0     0       0    0

In [20]:
data = [1,1000,5,7,15]

In [21]:
keys = assets
values = data
dictionary = dict(zip(keys, values))
print(dictionary) # {'a': 1, 'b': 2, 'c': 3}

{'btc': 1, 'cash': 1000, 'gold': 5, 'silver': 7, 'spy': 15}

In [9]:
new_new_row = pd.DataFrame(dictionary,index=[today])

In [10]:
new_new_row['total'] = new_new_row.sum(axis=1)

In [11]:
new_new_row

            btc  cash  gold  silver  spy  total
2022-04-06    1  1000     5       7   15   1028

In [23]:
df = pd.concat([df, new_new_row])

In [24]:
df

                     btc    cash  gold  silver   spy   total
2022-04-03 00:00:00  3.0     3.0   3.0     3.0   3.0    15.0
2022-04-06           1.0  1000.0   5.0     7.0  15.0  1028.0

In [22]:
df

            btc  cash  gold  silver  spy  total
date
2022-04-03  3.0   3.0   3.0     3.0  3.0   15.0

In [25]:
if(today in df.index):
    print("This is the truth")
else:
    print("This is bourgeois propaganda")

This is the truth

In [32]:
values = list(df.iloc[-1].values)

In [33]:
values

[1.0, 1000.0, 5.0, 7.0, 15.0, 1028.0]

In [84]:
    df.at[today] = df.iloc[-1]
    values = list(df.iloc[-1].values)
    match = False
    while not match:
        asset = input("Please enter the asset you would like to update {}: ".format(assets))
        for i in range(len(assets)):
            if assets[i] == asset:
                try:
                    quantity = int(input("Please enter the quantity of {} currently held: ".format(assets[i])))
                    df.at[today,assets[i]]= quantity
                    match = True
                except:
                    print("That is not a valid quantity")
    
else:
    df.at[today] = df.iloc[-1]

This is bourgeois propaganda

In [75]:
df.at[today,assets[1]] = 1

In [61]:
assets[1]

'cash'

In [79]:
df

            btc   cash  gold  silver  spy  total
2022-04-03  3.0    3.0   3.0     3.0  3.0   15.0
2022-04-06  NaN  100.0   NaN     NaN  NaN    NaN

In [95]:
df.drop(today,inplace=True)

In [68]:
df

                     btc  cash  gold  silver  spy  total
2022-04-03 00:00:00  3.0   3.0   3.0     3.0  3.0   15.0

In [70]:
today = pd.to_datetime(today)

In [72]:
today

Timestamp('2022-04-06 00:00:00')

In [82]:
today in df.index

False

In [85]:
df.at[today] = df.iloc[-1]
values = list(df.iloc[-1].values)
match = False
while not match:
    asset = input("Please enter the asset you would like to update {}: ".format(assets))
    for i in range(len(assets)):
        if assets[i] == asset:
            try:
                quantity = int(input("Please enter the quantity of {} currently held: ".format(assets[i])))
                df.at[today,assets[i]]= quantity
                match = True
            except:
                print("That is not a valid quantity")

Please enter the asset you would like to update ['btc', 'cash', 'gold', 'silver', 'spy']: sspy
Please enter the asset you would like to update ['btc', 'cash', 'gold', 'silver', 'spy']: spy
Please enter the quantity of spy currently held: 10000

In [96]:
df.at[today] = df.iloc[-1]

In [97]:
df

            btc  cash  gold  silver  spy  total
2022-04-03  3.0   3.0   3.0     3.0  3.0   15.0
2022-04-06  3.0   3.0   3.0     3.0  3.0   15.0