In [1]:
#initial imports
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime

In [67]:
# Create connection to SQL and an engine for SQLalchemy
connection = sqlite3.connect('D:\Libraries\Desktop\Python\Projects\Portfolio_Analysis\data\Portfolio.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///D:\Libraries\Desktop\Python\Projects\Portfolio_Analysis\data\Portfolio.db').connect()

In [100]:
df = pd.DataFrame({'gold':['0']})

In [101]:
df['date'] = datetime.today().date()

In [102]:
df['total'] = 0

In [103]:
df['gold'] = 0

In [104]:
df['silver'] = 0

In [105]:
df['btc'] = 0

In [106]:
df['spy'] = 0

In [107]:
df['cash'] = 0

In [108]:
df = df.reindex(sorted(df.columns), axis=1)

In [85]:
def updatePort():
    assets = ['btc','cash','gold','silver','spy']
    while True:
        asset = input('Please select an asset from {}: '.format(assets))
        if asset == "gold" or asset == "silver" or asset == "btc" or asset == "spy" or asset == "cash":
            break
        else:
            print("That is not a valid asset, please try again")
    return asset

In [65]:
updatePort()

Please select an asset from ['gold', 'silver', 'btc', 'spy', 'cash']: cash

'cash'

In [109]:
df

   btc  cash        date  gold  silver  spy  total
0    0     0  2022-03-17     0       0    0      0

In [110]:
temp = df.pop('date')

In [111]:
df.insert(0, "date", temp)

In [112]:
df

         date  btc  cash  gold  silver  spy  total
0  2022-03-17    0     0     0       0    0      0

In [113]:
df.to_sql('PortfolioData', engine, if_exists='replace', index=False)

In [3]:
new_df = pd.DataFrame()

In [4]:
new_df

Empty DataFrame
Columns: []
Index: []

In [8]:
new_df = pd.DataFrame()
new_df['date'] = datetime.today().date()

In [10]:
new_df.head()

Empty DataFrame
Columns: [date]
Index: []