In [40]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sqlalchemy
import sqlite3
import datetime
from datetime import datetime
global assets
assetNames = ['btc','cash','gold','silver','spy']
assetUnits = ['btc_qty','cash_$','gold_g','silver_oz','spy_qty']

In [3]:
connection = sqlite3.connect('data\Portfolio.db')
cursor = connection.cursor()
engine = sqlalchemy.create_engine('sqlite:///data\Portfolio.db').connect()

In [14]:
today = pd.to_datetime(datetime.today().date())

In [6]:
AssetHoldings = pd.read_sql_table('AssetHoldings',engine,index_col='date')
AssetValues = pd.read_sql_table('AssetValues', engine, index_col='date')

In [7]:
AssetHoldings

             btc_qty  cash_$  gold_g  silver_oz  spy_qty
date
2022-04-06  0.006554  1097.0     5.0        7.0     20.0

In [8]:
AssetValues

            btc  cash  gold  silver  spy  total
date
2022-04-05  1.0   1.0   1.0     1.0  1.0    5.0

In [9]:
CurrentValues = {'btc':44085.81,'cash':1,'gold':62.28,'silver':24.67,'spy':43.42}

In [47]:
for i in range(len(assetUnits)):
    AssetValues.at[today,assetNames[i]] = CurrentValues[assetNames[i]] * AssetHoldings.at[today,assetUnits[i]]

In [45]:
AssetValues.at[today] = AssetHoldings.iloc[-1]

In [48]:
AssetValues

                   btc  cash  gold  silver  spy  total
date
2022-04-05    1.000000   1.0   1.0     1.0  1.0    5.0
2022-04-06  288.938399   NaN   NaN     NaN  NaN    NaN

In [24]:
CurrentValues[i]

KeyError: 0

In [30]:
AssetHoldings.iloc[today,assets[i]]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [38]:
CurrentValues[assets[0]]

44085.81